.nav_s {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;

    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

.nav_s a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    
}

nav a:hover {
    background: rgba(0, 154, 201, 0.568);
}

nav a.active {
    background: rgb(204, 103, 36);
    color: white;
}




.block::before , .block::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: black;
    background-color: 400%;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    z-index: +1;
    border-radius: 3rem;
}


.glow::before , .glow::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(45deg , #e6fb04 , #ff6600 , #00ff66 , #00ffff , #ff00ff, #ff0099, #6e0dd0 , #ff3300 , #099fff);
    background-color: 400%;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    z-index: -1;
    border-radius: 3rem;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter:blur(40px);
    opacity: 0.5;
    
}

